body {
    font-family: helvetica, arial, sans-serif;
    color: white;
    background-color: #3D3D3D;
    background-image:url(./image/download.png), url(./image/machinebg.png);
    background-size: contain,contain;
    background-repeat: repeat,repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-style: italic;
    color: #FF6F00;
}

video {
    display: block;
}

section {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
}

removed {
    display: none;
}

.invisible {
    opacity: 0.2;
}

.camView {
    position: relative;
    float: left;
    width: calc(100% - 20px);
    margin: 10px;
    cursor: pointer;
}

.camView p {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.55);
    color: black;
    z-index: 2;
    font-weight: bolder;

}

.highlighter {
   
   border: none transparent;
    z-index: 1;
    position: absolute;
    background-image: url(./image/samaritan-indicator-orange.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}